Timer {
    layout: horizontal;
    height: 5;
    margin: 1;
    min-width: 50;
    padding: 1;
}

ClockWork {
    content-align: center middle;
    height: 3;
}

Button {
    width: 16;

}

#start {
    dock: left;
}

#stop {
    dock: right;
}

Markup {
    width: 80%;
    align: center middle;

}
